*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.4s ease-in-out;
  background-color: 0.4s ease-in-out;
}

.dark-body{
  background: #222;
  color: #f1f1f1;
}